<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Anime</title>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Edit Anime</h1>
        
        <form th:object="${anime}" th:action="@{/saveAnime}" method="post" class="mt-4">
            <input type="hidden" th:field="*{id}" class="form-control">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" name="title" th:field="${anime.title}" required="required">
            </div>
            <div class="form-group">
                <label for="episodes">Episodes</label>
                <input type="number" class="form-control" id="episodes" name="episodes" th:field="${anime.episodes}" required="required">
            </div>
            <div class="form-group">
                <label for="score">Score</label>
                <input type="number" class="form-control" id="score" name="score" th:field="${anime.score}" required="required">
            </div>
            <div class="form-group">
                <label for="category">Category</label>
                <select class="form-control" id="category" th:field="*{category}">
                    <option th:each="category : ${categories}" 
                    th:value="${category.categoryId}" 
                    th:text="${category.name}">
                    Category Name
                </option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary" value="Save">Update</button>
        </form>
        <a class="btn btn-secondary mt-3" th:href="@{/animelist}">Back to Anime List</a>
    </div>
</body>
</html>